__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.git/
.gitignore
.vscode/
__pycache__/
.pytest_cache/
.DS_Store
.env
.env.*
mongo_data/
tests/
*.log
