# .env.example
# Copy this file to .env and fill in the values for your environment

# MongoDB connection string (local, UAT, prod)
MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=urllookup
MONGO_COLLECTION_NAME=urls
MONGO_USERNAME=
MONGO_PASSWORD=

# API
API_PORT=8000

# Logging
LOG_LEVEL=INFO

# Rate Limiter
RATE_LIMIT=10
RATE_LIMIT_WINDOW=60
